@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.custom-background {
  background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(175, 174, 174), rgb(85, 84, 84));
}

/* * {
  box-sizing: border-box;
  cursor: none;
} */